@import 'custom';
// @import '~bootstrap/scss/bootstrap';

// ----------------6-3 START-----------------------------------
.tint-color {
  color: tint-color($primary, 70%);
}

.shade-color {
  color: shade-color($danger, 30%);
}

.shift-color {
  color: shift-color($danger, 100%);
}

.color-contrast-1 {
  color: color-contrast(#fff); // returns `color: #000`
  background-color: #fff;
}

.color-contrast-2 {
  color: color-contrast($dark); // returns `color: #fff`
  background-color: #000;
}

.custom-element {
  @include color-scheme(dark) {
    // Insert dark mode styles here
  }

  @include color-scheme(custom-named-scheme) {
    // Insert custom color scheme styles here
    color: #968c8c;

  }
}
// ch6-5 套用CSS原生變數
.desc{
  color:var(--bs-blue); 
}